  </main>
  <footer class="l-footer">

    <div class="footer-contact">
      <h5>No content here yet ... </h5>
      <div class="contact-row-1">
        <form>
          <div class="row-1-item">
            <label>Name</label><br /><br />
            <input type=text placeholder="your name ..."/>
          </div>

          <div class="row-1-item">
            <label>Surname</label><br /><br />
            <input type=text placeholder="your surname ..."/>
          </div>

          <div class="row-1-item">
            <label>City</label><br /><br />
            <input type=text placeholder="city ..."/>
          </div>

          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />

          <div class="row-1-item">
            <label>Email</label><br /><br />
            <input type=text placeholder="your email ..."/>
          </div>

          <div class="row-1-item">
            <label>Phone Number</label><br /><br />
            <input type=text placeholder="phone number ..."/>
          </div>

          <div class="row-1-item">
            <label>Province</label><br /><br />
            <input type=text placeholder="province ..."/>
          </div>

          <label style="margin-top:50px; float:left">How can we help?</label>
          <br /><br />
          <textarea placeholder="how can we help?"></textarea>
          <input type="submit" value="SEND" class="submitme" />
        </form>
      </div>
    </div>

    <div class="footer-links">
      <div class="left-col">
      <a href="{{ .Site.BaseURL }}">
        <img src="images/sis/Logo_Footer.svg" alt="{{ .Site.Title }} logo" />
      </a>
      <form>
        <input type="text" placeholder="enter your email address" class="email-subscribe">
      </form>
      <input type="submit" value="SUBSCRIBE" class="email-subscribe-button" />
      </div>

      <div class="right-col">
        <div class="navigate-col">
          <h3>Navigate</h3>
          <ul>
            <li><a href="">Our Ecosystem</a></li>
            <li><a href="">Products</a></li>
            <li><a href="">Broker Portal</a></li>
            <li><a href="">About Us</a></li>
            <li><a href="">Contact</a></li>
          </ul>
        </div>
        <div class="commercial-col">
          <h3>Commercial</h3>
          <ul>
            <li><a href="">Our Ecosystem</a></li>
            <li><a href="">Products</a></li>
            <li><a href="">Broker Portal</a></li>
            <li><a href="">About Us</a></li>
            <li><a href="">Contact</a></li>
          </ul>
        </div>
        <div class="domestic-col">
          <h3>Domestic</h3>
          <ul>
            <li><a href="">Our Ecosystem</a></li>
            <li><a href="">Products</a></li>
            <li><a href="">Broker Portal</a></li>
            <li><a href="">About Us</a></li>
            <li><a href="">Contact</a></li>
          </ul>
        </div>  
      </div>
    </div>

  </footer>

</body>
</html>
